footer {
	overflow: hidden;
	background: linear-gradient(to bottom, #3574B6, #155EA9);
	font-family: Montserrat;
	color: white;
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer div{
	text-align:left;
	margin:auto;
	vertical-align: middle;
}

footer h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	display: block;
	width: 100%;
	color: white;
}

footer p {
	display: block;
	margin: 1%;
	text-align: center;
}

footer a {
	color: white;
	text-decoration: none;
}

#mapa a:hover {
	text-decoration: underline;
}

#contacto {
	margin-top: 3%;
}

#redes img {
	margin-left: 10px;
	width: 35px;
	float: right;
	transition: all .25s;
}

footer a:hover img {
	transform: scale(1.1,1.1);
}

#mapa{
	display: inline-block;
	width: 30%;
	height: 100%;
}

#mapa img {
	width: 35px;
	margin-right: 10px;
	transition: all .25s;
	vertical-align: middle;
}

#mapa a {
	display: inline-block;
	font-size: 1.5em;
	vertical-align: middle;
	text-align: center;
}

@media screen and (min-width: 1500px) {
	#mapa a {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 1500px) {
	#mapa a {
		font-size: 1.3em;
	}
}

@media screen and (max-width: 1000px) {
	#mapa a {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 700px) {
	#mapa a {
		font-size: 1em;
	}
}

#centro {
	display: inline-block;
	width: 30%;
	margin: auto;
	text-align: center;
}

#logoFooter {
	width: 50%;
	max-width: 150px;
	margin: auto;
}

#derecha{
	display: inline-block;
	width:30%;
	height: 100%;
}

#redes{
	display:inline-block;
	width:100%;
}

#contacto{
	text-align: center;
	width:100%;
}

#contacto a {
	font-weight: bold;
}

#contacto a:hover {
	text-decoration: underline;
}

#contacto p {
	text-align: right;
}