
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.hidden {
	display: none;
}

.mobile-only {
	display: none;
}

@media screen and (min-width: 1500px) {
	h1 {
		font-size: 2.8em;
	}
}

@media screen and (min-width: 1000px) {
	nav > ul > li:hover .subnav {
		display: block;
	}
}

@media screen and (max-width: 1500px) {
	h1 {
		font-size: 2.5em;
	}
}

@media screen and (max-width: 1000px) {
	.hidden {
		display: inline-block;
	}

	h1 {
		font-size: 2.1em;
	}
	
	header {
		height: 120px !important;
	}
	
	header form {
		display: none;
	}
	
	nav > ul > li {
		width: 12% !important;
		position: inherit !important;
	}
	
	nav > ul > li > a {
		font-size: 0;
	}
	
	nav > ul > li > a > img {
		margin-right: 0 !important;
	}
	
	.subnav {
		min-width: 100% !important;
	}
	
	nav > ul > li > a > img {
		vertical-align: top !important;
	}
}

@media screen and (max-width: 700px) {
	h1 {
		font-size: 1.5em;
	}
	
	.mobile-only {
		display: inline-block;
	}
	
	.from-tablet-up {
		visibility: hidden;
		width: 0 !important;
		height: 0 !important;
		overflow: hidden !important;
	}
	
	.subnav {
		visibility: visible;
	}
	
	header {
		height: 80px !important;
	}
	
	#slider {
		height: 35vw !important;
	}
	
	nav > ul > li > a > img {
		vertical-align: top !important;
	}
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 450px;
}

header {
	box-sizing: border-box;
	padding: 1%;
	height: 145px;
	background: linear-gradient(to bottom, #3574B6, #155EA9);
}

#identificacion {
	float: left;
	height: 100%;
	white-space: nowrap;
}

#gobcan {
	height: 75%;
	float: right;
}

#logo {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

h1 {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-family: Montserrat;
	vertical-align: middle;
	color: white;
}

/*---------------------------*/

header form {
	margin-right: 10%;
	float: right;
	height: 100%;
	line-height: 90px;
	width: 20%;
	text-align: right;
}

header form input {
	vertical-align: middle;
	font-size: 1.1em;
	width: 50%;
	min-width: 140px;
}

header form button {
	width: 35px;
	height: 35px;
	background-image: url(../img/icons/magnifying-glass.svg);
	background-size: 100% 100%;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	vertical-align: middle;
}

/*---------------------------*/

#sliderContainer {
	background-color: black;
	margin-bottom: 3em;
}

#slider {
	position: relative;
	background-image: url(../img/slider/1.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 25vw;
	z-index:1;
	box-shadow: 0px 5px 5px rgba(0,0,0,.5);
	position: relative;
}

#prev, #next {
	width: 8%;
	position: absolute;
	text-align: center;
	line-height: 25vw;
	transition: all .25s;
}

#slider img {
	width: 80%;
	opacity: .75;
	transition: all .25s;
}

#prev {
	background: linear-gradient(to right, rgba(0,0,0,.5), transparent);
	height: 100%;
	left: 0;
}

#next {
	right: 0;
	height: 100%;
	background: linear-gradient(to left, rgba(0,0,0,.5), transparent);
}

#slider img {
	vertical-align: middle;
}

#prev:hover {
	background: linear-gradient(to right, rgba(0,0,0,.75), transparent);
}

#next:hover {
	background: linear-gradient(to left, rgba(0,0,0,.75), transparent);
}

#slider a:hover img {
	transform: scale(1.1, 1.1);
	opacity: 1;
}

#selectors {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 50%;
	text-align: center;
	bottom: 0;
}

.selector {
	display: inline-block;
	margin: .65%;
	width: 20px;
	height: 20px;
	opacity: .75;
	background-color: white;
	border-radius: 50%;
	transition: all .25s;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,.65);
}

.selectorActivo {
	opacity: 1;
	transform: scale(1.2, 1.2);
}

.selector:hover {
	opacity: 1;
	transform: scale(1.2, 1.2);
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.fadeOut {
	animation-name: fadeOut;
	animation-duration: .25s;
}

.fadeIn {
	animation-name: fadeIn;
	animation-duration: .25s;	
}

/*---------------------------*/

nav {
	height: 50px;
	min-height: 50px;
	background: linear-gradient(to bottom, #80ADDC, #558DC7);
	box-shadow: 0px 5px 5px rgba(0,0,0,.5);
	position: relative;
	z-index: 100;
}

nav.fixedNav {
	top: 0;
	position: fixed;
	width: 100%;
}

nav > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	height: 100%;
	line-height: 50px;
}

nav > ul > li {
	display: inline-block;
	height: 100%;
	width: 19%;
	text-align: center;
	font-size: 1.05em;
	line-height: 50px;
	transition: all .25s;
}

nav > ul > li.activo {
	background-color: #0A4582;
}

nav > ul > li:hover {
	background-color: #3574B6;
}

nav > ul > li > a {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-family: Montserrat;
	width: 100%;
	height: 100%;
}

nav > ul > li > a > img, .subnav img {
	width: 35px;
	vertical-align: middle;
	margin-right: 2%;
}

/*-------------------------------*/

nav > ul > li {
	position: relative;
}

.subnav li:hover {
	background: #3574B6;
	border: 1px solid #0A4582;
	border-left: 0;
	border-right: 0;
}

.subnav {
	box-sizing: border-box;
	margin:0;
	padding: 0;
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	min-width: 120%;
	background-color: #558DC7;
	list-style-type: none;
	box-shadow: 0px 5px 10px 2px rgba(0,0,0,.65);
}

.subnav li {
	box-sizing: border-box;
	text-align: left;
	font-family: Montserrat;
	font-size: 1em;
	height: 40px;
	line-height: 40px;
}

.subnav a {
	padding-left: 10px;
	display: inline-block;
	width: 100%;
	height: 100%;
	color: white;
	text-decoration: none;
	line-height: 40px;
}

