
@media screen and (max-width: 700px) {
	section {
		text-align: center;
	}

	.left, .right {
		width: 90% !important;
	}
	
	section a {
		font-size: 1em !important;
	}
}

section p {
    margin: 0;
    margin-bottom: 20px;
	font-family: 'Open Sans';
}

section h3 {
	text-align: center;
}

.left{
	box-sizing: border-box;
	padding: 20px;
    display: inline-block;
    width: 45%;
    height: 45%;
    margin: 2%;
    border-radius: 10px;
    background-color: #F6F6F6;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .5);
}
.right{
	box-sizing: border-box;
	padding: 20px;
    display: inline-block;
    width: 45%;
    height: 45%;
    margin: 2%;
    border-radius: 10px;
    background-color: #F6F6F6;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .5);
}

section div > img{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 2%;
}
section a {
    float: right;
    color: #155EA9;
    font-size: 1.5em;
    text-decoration: none;
    vertical-align: middle;
	font-family: 'Open Sans';
}

section a img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
	margin-left: 10px;
}